@charset "UTF-8";

/* /// ARTICLE /// */

section > article h2 {
    font:normal 16px/20px Georgia, serif;
    color:#fff;
    text-transform:uppercase;
    text-shadow:rgba(50,50,50,0.8) 1px 1px 0px;
    padding:5px 0 5px;
}

section > article p {
    position:absolute;
    top:50%;
    font:normal lighter 17px/26px Georgia, serif;
    color:#fff;
    text-shadow:rgba(50,50,50,0.8) 1px 1px 0px;
    height:140px;
    padding-top:5px;
    margin-top:-70px;   
}

section > article ul {list-style-type:disc !important;}

section > article ul li {
    font:normal 13.5px/18px Georgia, serif;
    color:#f9f9f9;
    text-shadow:rgba(50,50,50,0.8) 1px 1px 0px;
    padding:5px 0 5px;
    margin-left:20px;    
}

section > article ul li a {
    font:normal lighter 12px/12px Georgia, serif;
    color:rgb(160,196,218);
    text-shadow:rgba(50,50,50,0.8) 1px 1px 0px;
    text-transform:uppercase;
}

section > article ul li a:hover {color:#f1f1f1;}

/* Home */

section > article.home {
    z-index:1;
    position:absolute;
    left:475px;
    top:75px;
    background:rgb(35,31,32);
    background:rgba(35,31,32,0.7);
    width:340px;
    height:340px;
    border-radius:210px;
}

section > article > div.home {    
    position:absolute;
    left:50%;
    top:50%;
    width:240px;
    height:260px;
    padding-right:10px;
    margin:-130px 0 0 -120px;
    overflow-y:hidden;
    overflow-x:hidden;
}

/* Amenities and Features */

section > article.amenities,
section > article.features {
    z-index:1;
    position:absolute;
    left:465px;
    top:70px;
    background:rgb(35,31,32); /* Fallback */
    background:rgba(35,31,32,0.7);
    width:420px;
    height:420px;
    border-radius:210px;
}

section > article.amenities > div.amenities,
section > article.features > div.features {    
    position:absolute;
    left:50%;
    top:50%;
    width:260px;
    height:240px;
    padding-right:10px;
    margin:-120px 0 0 -130px;
}

/* Location */

section > article.location {
    z-index:1;
    position:absolute;
    left:110px;
    top:378px;
    background:rgb(35,31,32);
    background:rgba(35,31,32,0.8);
    width:280px;
    height:380px;
    border-radius:10px;
    overflow:hidden;
    -webkit-transition:all 0.3s ease-in-out; 
    -moz-transition:   all 0.3s ease-in-out;
    -ms-transition:    all 0.3s ease-in-out; 
    -o-transition:     all 0.3s ease-in-out;  
    transition:        all 0.3s ease-in-out;
}

section > article > div.location { 
    position:absolute;
    top:10px;
    left:10px;  
    width:230px;
    height:340px;
    margin:10px;
    overflow-y:scroll;
    overflow-x:hidden;
}

section > article > div.location ol {
    margin:10px 0 10px;
    list-style-type:decimal !important;
}

section > article > div.location ol li {
    padding-bottom:8px;
    margin-left:26px;
    font:normal 13.5px/18px Georgia, serif;
    color:#f9f9f9;
    text-shadow:rgba(50,50,50,0.8) 1px 1px 0px;
}

section > article > div.location ol li.g, .g {color:#8eb7ce;}
section > article > div.location ol li.a, .a {color:#b58358;}

/* Plans */

section > article.plans {
    z-index:1;
    position:absolute;
    left:360px;
    top:70px;
    background:transparent;
    width:570px;
    height:690px;
    border-radius:0px;
    overflow:hidden;
}

section > article > div.plans { 
    position:absolute;
    top:0px !important;
    left:0px !important;  
    width:570px !important;
    height:690px !important;
    padding:0px !important;
    margin:0px !important;
    overflow:hidden;
}

section > article.plans-2 {
    z-index:1;
    position:absolute;
    left:110px;
    top:378px;
    background:rgb(35,31,32);
    background:rgba(35,31,32,0.7);
    width:216px;
    height:235px;
    border-radius:10px;
    overflow:hidden;
    -webkit-transition:all 0.3s ease-in-out; 
    -moz-transition:   all 0.3s ease-in-out;
    -ms-transition:    all 0.3s ease-in-out; 
    -o-transition:     all 0.3s ease-in-out;  
    transition:        all 0.3s ease-in-out;
}

.ie6 section > article.plans-2 {height:345px;} /* IE Fix */

section > article > div.plans-2 { 
    position:absolute;
    top:10px;
    left:10px;  
    width:180px;
    height:315px;
    margin:10px;
    overflow-y:hidden;
    overflow-x:hidden;
}

ul.plans {   
    -webkit-column-count:2;
    -moz-column-count:2;
    -ms-column-count:2;
    -o-column-count:2;
    column-count:2;
}

/* Gallery */

section > article.gallery {
    z-index:1;
    position:absolute;
    left:110px;
    top:378px;
    background:rgb(35,31,32);
    background:rgba(35,31,32,0.8);
    width:260px;
    height:380px;
    border-radius:10px;
    overflow:hidden;
    -webkit-transition:all 0.3s ease-in-out; 
    -moz-transition:   all 0.3s ease-in-out;
    -ms-transition:    all 0.3s ease-in-out; 
    -o-transition:     all 0.3s ease-in-out;  
    transition:        all 0.3s ease-in-out;
}

section > article > div.gallery { 
    position:absolute;
    top:10px;
    left:10px;  
    width:230px;
    height:340px;
    margin:10px;
    overflow-y:hidden;
    overflow-x:hidden;
}

div.videos {
    background:rgba(160,196,218,0.4);  
    width:210px;
    height:120px;
    border-radius:5px !important;
    padding:5px;
    margin:20px 0;
}

/* Contact */

section > article.contact {
    z-index:1;
    position:absolute;
    left:110px;
    top:378px;
    background:rgb(35,31,32); /* Fallback */
    background:rgba(35,31,32,0.7);
    width:216px;
    height:210px;
    border-radius:10px;
    overflow:hidden;
    -webkit-transition:all 0.3s ease-in-out; 
    -moz-transition:   all 0.3s ease-in-out;
    -ms-transition:    all 0.3s ease-in-out; 
    -o-transition:     all 0.3s ease-in-out;  
    transition:        all 0.3s ease-in-out;
}

section > article > div.contact { 
    position:absolute;
    top:10px;
    left:10px;  
    width:180px;
    height:225px;
    margin:10px;
    overflow-y:hidden;
    overflow-x:hidden;
}