@charset "UTF-8";

/* /// ARTICLE /// */

section > article {
    z-index:1;
    position:absolute;
    left:465px;
    top:70px;
    background:rgb(35,31,32); /* Fallback */
    background:rgba(35,31,32,0.6);
    width:420px;
    height:420px;
    border-radius:210px;
}

section > article.gallery {
    z-index:1;
    position:absolute;
    left:345px;
    top:280px;
    background:rgb(35,31,32); /* Fallback */
    background:rgba(35,31,32,0.6);
    width:270px;
    height:55px;
    border-radius:20px;
    overflow:hidden;
    -webkit-transition:all 0.3s ease-in-out; 
    -moz-transition:   all 0.3s ease-in-out;
    -ms-transition:    all 0.3s ease-in-out; 
    -o-transition:     all 0.3s ease-in-out;  
    transition:        all 0.3s ease-in-out;
}

section > article.gallery:hover {
    z-index:1;
    position:absolute;
    left:345px;
    top:280px;
    background:rgb(35,31,32); /* Fallback */
    background:rgba(35,31,32,0.6);
    width:330px;
    height:300px;
    border-radius:20px;
}

section > article.gallery > h2 {
    font:italic normal 18px/18px Georgia, serif;
    color:#fff;
    text-transform:uppercase;
    text-shadow:rgba(50,50,50,0.8) 1px 1px 0px;
    padding:20px;
}

section > article > div {    
    position:absolute;
    left:50%;
    top:50%;
    width:280px;
    height:260px;
    padding-right:10px;
    margin:-130px 0 0 -140px;
    overflow-y:scroll;
    overflow-x:hidden;
}

section > article > div.gallery { 
    position:absolute;
    top:35px;
    left:0;  
    width:280px;
    height:225px;
    padding-right:10px;
    margin:20px;
    overflow-y:scroll;
    overflow-x:hidden;
}

@-moz-document url-prefix() {
    section > article > div {overflow-y:-moz-scrollbars-none;}
}

section > article > div > h2 {
    font:italic normal 16px/20px Georgia, serif;
    color:#fff;
    text-transform:uppercase;
    text-shadow:rgba(50,50,50,0.8) 1px 1px 0px;
    padding:5px 0 5px;
}

section > article > div > p {
    font:italic lighter 16px/22px Georgia, serif;
    color:#fff;
    text-shadow:rgba(50,50,50,0.8) 1px 1px 0px;
}

section > article > div > ul {list-style-type:disc !important;}

section > article > div > ul li {
    font:italic normal 13.5px/18px Georgia, serif;
    color:#f9f9f9;
    text-shadow:rgba(50,50,50,0.8) 1px 1px 0px;
    margin:8px 0 8px 20px;    
}

section > article > div div {
    background:rgba(160,196,218,0.4);  
    width:210px;
    height:120px;
    border-radius:5px !important;
    padding:5px;
    margin:10px 0;
}