@charset "UTF-8";

/* /// HEADER /// */

section > header {
    z-index:4;
    position:absolute;
    left:240px;
    top:-20px;
    width:280px;
    height:280px; 
}

section > header > a h1 {    
    display:block;
    background:rgba(35,31,32,0.8) url(/_media/images/logo/77logo-white.png) center center no-repeat;
    background-size:220px !important;
    width:280px;
    height:280px;
    border-radius:140px;
    -webkit-transition:all 0.3s ease-in-out; 
    -moz-transition:   all 0.3s ease-in-out;
    -ms-transition:    all 0.3s ease-in-out; 
    -o-transition:     all 0.3s ease-in-out;  
    transition:        all 0.3s ease-in-out;
}

section > header > a:hover h1,
section > header > a:active h1 {background-color:rgba(160,160,160,0.85) !important;}