@charset "UTF-8";

/* /// MAIN /// */

* {margin:0; padding:0;}

html,
body {
    background:url(/_media/images/bg/bg-splash.jpg) no-repeat center center fixed;    
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-size:cover !important;
    background-size:cover !important;
    margin:0px;
    padding:0px;
    width:100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0.0);
}

body:after {
    position:fixed;
    top:0px;
    left:0px;
    background:transparent url(/_media/images/bg/spirals.png) repeat-y top left;
    -webkit-background-size:cover !important;
    -moz-background-size:cover !important;
    -o-size:cover !important;
    background-size:cover !important;
    width:224px;
    height:100%;
    content:'';    
}

img {border:none; outline:none; border-style:none;}

a:focus,a:active {outline:none;}

::-moz-selection{background:#313B5B; color:#FFFFFF; text-shadow:none;}
::selection {background:#313B5B; color:#FFFFFF; text-shadow:none;}

/* /// TYPEFACES /// */

/* Chronicle Condensed Semibold */
@font-face {
    font-family:'chronicledeckcond-semibold';
    src:url('/_media/fonts/chronicledeckcond-semibold.eot');
    src:url('/_media/fonts/chronicledeckcond-semibold.eot?#iefix') format('embedded-opentype'),
        url('/_media/fonts/chronicledeckcond-semibold.woff') format('woff'),
        url('/_media/fonts/chronicledeckcond-semibold.ttf') format('truetype'),
        url('/_media/fonts/chronicledeckcond-semibold.svg#chronicledeckcond-semibold') format('svg');
    font-weight:normal;
    font-style:normal;
}

/* Chronicle Condensed Seminormal */
@font-face {
    font-family:'chronicledeckcond-seminormal';
    src:url('/_media/fonts/chronicledeckcond-seminormal.eot');
    src:url('/_media/fonts/chronicledeckcond-seminormal.eot?#iefix') format('embedded-opentype'),
        url('/_media/fonts/chronicledeckcond-seminormal.woff') format('woff'),
        url('/_media/fonts/chronicledeckcond-seminormal.ttf') format('truetype'),
        url('/_media/fonts/chronicledeckcond-seminormal.svg#chronicledeckcond-seminormal') format('svg');
    font-weight:normal;
    font-style:normal;
}

/* Chronicle Display Boldnormal */
@font-face {
    font-family:'chronicledisp-boldnormal';
    src:url('/_media/fonts/chronicledisp-boldnormal.eot');
    src:url('/_media/fonts/chronicledisp-boldnormal.eot?#iefix') format('embedded-opentype'),
        url('/_media/fonts/chronicledisp-boldnormal.woff') format('woff'),
        url('/_media/fonts/chronicledisp-boldnormal.ttf') format('truetype'),
        url('/_media/fonts/chronicledisp-boldnormal.svg#chronicledisp-boldnormal') format('svg');
    font-weight:normal;
    font-style:normal;
}

/* Chronicle Display Semiboldnormal */
@font-face {
    font-family:'chronicledisp-semiboldnormal';
    src:url('/_media/fonts/chronicledisp-semiboldnormal.eot');
    src:url('/_media/fonts/chronicledisp-semiboldnormal.eot?#iefix') format('embedded-opentype'),
        url('/_media/fonts/chronicledisp-semiboldnormal.woff') format('woff'),
        url('/_media/fonts/chronicledisp-semiboldnormal.ttf') format('truetype'),
        url('/_media/fonts/chronicledisp-semiboldnormal.svg#chronicledisp-semiboldnormal') format('svg');
    font-weight:normal;
    font-style:normal;
}

/* /// STYLES /// */

p.boldnormal {
    font:46px/40px 'chronicledisp-boldnormal', Georgia, serif;
    color:#000;
}

p.semiboldnormal {
    font:46px/40px 'chronicledisp-semiboldnormal', Georgia, serif;
    color:#000;
}

/* /// PRELOADER /// */

#preloader {
    z-index:9999999;
    position:absolute;
    top:50%;
    left:50%;
    background-image:url(/_media/images/preloader/progress.gif);
    background-repeat:no-repeat;
    background-color:#fff;
    width:64px; 
    height:64px;
    margin-left:-64px;
    margin-top:-64px;
    -webkit-border-radius:32px;
    -moz-border-radius:   32px;
    -ms-border-radius:    32px;
    -o-border-radius:     32px;
    border-radius:        32px;
    -webkit-box-shadow:0px 0px 4px #ccc;
    -moz-box-shadow:   0px 0px 4px #ccc;
    -ms-box-shadow:    0px 0px 4px #ccc;
    -o-box-shadow:     0px 0px 4px #ccc;
    box-shadow:        0px 0px 4px #ccc;  
}

/* /// TOOL BELT /// */

.hr {
    width:100%;   
    border-left:  1px solid rgba(50,50,50,0.1);
    border-right: 1px solid rgba(50,50,50,0.1);
    border-top:   1px solid rgba(50,50,50,0.1);
    border-bottom:1px solid rgba(250,250,250,0.1);
    margin:10px 0px 10px 0px;
    overflow:hidden;
}

.spacer { 
    width:auto; 
    height:auto; 
    padding:20px 0px 20px 0px;
}

.show {opacity:1 !important;}
.hide {display:none !important;}

.lcol {float:left;}
.rcol {float:right;}

/* Group (clearfix) */

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {clear:both;}
.group {zoom:1;}