@charset "UTF-8";

/* /// MAIN /// */

* {margin:0; padding:0;}

html,
body {
    background:#fff;
    margin:0px;
    padding:0px;
    width:100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0.0);
}

body:after {
    position:fixed;
    top:0px;
    left:0px;
    background:transparent url(/_media/images/bg/spirals.png) repeat-y top left;
    background-size:cover !important;
    width:224px;
    height:100%;
    content:'';    
}

img {border:none; outline:none; border-style:none;}

a:focus,a:active {outline:none;}

::-moz-selection{background:#313B5B; color:#FFFFFF; text-shadow:none;}
::selection {background:#313B5B; color:#FFFFFF; text-shadow:none;}

/* /// TYPEFACES /// */

/* Chronicle Condensed Semibold */
@font-face {
    font-family:'chronicledeckcond-semibold';
    src:url('/_media/fonts/chronicledeckcond-semibold.eot');
    src:url('/_media/fonts/chronicledeckcond-semibold.eot?#iefix') format('embedded-opentype'),
        url('/_media/fonts/chronicledeckcond-semibold.woff') format('woff'),
        url('/_media/fonts/chronicledeckcond-semibold.ttf') format('truetype'),
        url('/_media/fonts/chronicledeckcond-semibold.svg#chronicledeckcond-semibold') format('svg');
    font-weight:normal;
    font-style:normal;
}

/* Chronicle Condensed Semiitalic */
@font-face {
    font-family:'chronicledeckcond-semiitalic';
    src:url('/_media/fonts/chronicledeckcond-semiitalic.eot');
    src:url('/_media/fonts/chronicledeckcond-semiitalic.eot?#iefix') format('embedded-opentype'),
        url('/_media/fonts/chronicledeckcond-semiitalic.woff') format('woff'),
        url('/_media/fonts/chronicledeckcond-semiitalic.ttf') format('truetype'),
        url('/_media/fonts/chronicledeckcond-semiitalic.svg#chronicledeckcond-semiitalic') format('svg');
    font-weight:normal;
    font-style:normal;
}

/* Chronicle Display Bolditalic */
@font-face {
    font-family:'chronicledisp-bolditalic';
    src:url('/_media/fonts/chronicledisp-bolditalic.eot');
    src:url('/_media/fonts/chronicledisp-bolditalic.eot?#iefix') format('embedded-opentype'),
        url('/_media/fonts/chronicledisp-bolditalic.woff') format('woff'),
        url('/_media/fonts/chronicledisp-bolditalic.ttf') format('truetype'),
        url('/_media/fonts/chronicledisp-bolditalic.svg#chronicledisp-bolditalic') format('svg');
    font-weight:normal;
    font-style:normal;
}

/* Chronicle Display Semibolditalic */
@font-face {
    font-family:'chronicledisp-semibolditalic';
    src:url('/_media/fonts/chronicledisp-semibolditalic.eot');
    src:url('/_media/fonts/chronicledisp-semibolditalic.eot?#iefix') format('embedded-opentype'),
        url('/_media/fonts/chronicledisp-semibolditalic.woff') format('woff'),
        url('/_media/fonts/chronicledisp-semibolditalic.ttf') format('truetype'),
        url('/_media/fonts/chronicledisp-semibolditalic.svg#chronicledisp-semibolditalic') format('svg');
    font-weight:normal;
    font-style:normal;
}

/* /// STYLES /// */

p.bolditalic {
    font:46px/40px 'chronicledisp-bolditalic', Georgia, serif;
    color:#000;
}

p.semibolditalic {
    font:46px/40px 'chronicledisp-semibolditalic', Georgia, serif;
    color:#000;
}

/* /// PRELOADER /// */

#preloader {
    z-index:9999999;
    position:absolute;
    top:50%;
    left:50%;
    background-image:url(/_media/images/preloader/progress.gif);
    background-repeat:no-repeat;
    background-color:#fff;
    width:32px; 
    height:32px;
    margin-left:-16px;
    margin-top:-16px;
    -webkit-border-radius:16px;
    -moz-border-radius:   16px;
    -ms-border-radius:    16px;
    -o-border-radius:     16px;
    border-radius:        16px;
    -webkit-box-shadow:0px 0px 4px #ccc;
    -moz-box-shadow:   0px 0px 4px #ccc;
    -ms-box-shadow:    0px 0px 4px #ccc;
    -o-box-shadow:     0px 0px 4px #ccc;
    box-shadow:        0px 0px 4px #ccc;  
}

/* /// TOOL BELT /// */

.hr {
    width:100%;   
    border-left:  1px solid rgba(50,50,50,0.1);
    border-right: 1px solid rgba(50,50,50,0.1);
    border-top:   1px solid rgba(50,50,50,0.1);
    border-bottom:1px solid rgba(250,250,250,0.1);
    margin:10px 0px 10px 0px;
    overflow:hidden;
}

.spacer { 
    width:auto; 
    height:auto; 
    padding:20px 0px 20px 0px;
}

.show {opacity:1 !important;}
.hide {display:none !important;}

.lcol {float:left;}
.rcol {float:right;}

/* Group (clearfix) */

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {clear:both;}
.group {zoom:1;}