@charset "UTF-8";

/* /// NAV /// */

/* Social Links */

section > ul {
    position:absolute;
    left:30px;
    top:30px;
    width:200px;
    height:38px;
}

section > ul li {
    float:left;
    position:relative;
    background:rgb(255,255,255); /* Fallback */
    background:rgba(209,210,213,0.3);
    width:38px;
    height:38px;
    margin-right:12px;
    border-radius:19px;
    -webkit-transition:all 0.3s ease-in-out; 
    -moz-transition:   all 0.3s ease-in-out;
    -ms-transition:    all 0.3s ease-in-out; 
    -o-transition:     all 0.3s ease-in-out;  
    transition:        all 0.3s ease-in-out;
}

section > ul li:hover {background:rgba(209,210,213,0.95) !important;}
section > ul li:active {background:rgba(209,210,213,0.95) !important;}

section > ul li:last-child,
section > ul li.no-margin {margin-right:0px !important;}

section > ul li > a { 
    position:absolute;
    left:0;
    background-size:cover !important;
    width:38px;
    height:38px;
    opacity:0.7;
}

section > ul li > a.icon-twitter {background:url(/_media/images/icons/icon-twitter.png);}
section > ul li > a.icon-vimeo {background:url(/_media/images/icons/icon-vimeo.png);}
section > ul li > a.icon-facebook {background:url(/_media/images/icons/icon-facebook.png);}
section > ul li > a.icon-webcam {background:url(/_media/images/icons/icon-webcam.png);}

/* Nav */

section > nav {
    z-index:2;
    position:absolute;
    left:110px;
    top:170px;
    background:rgb(160,196,218); /* Fallback */
    background:rgba(160,196,218,0.9);
    width:216px;
    height:216px;
    border-radius:140px;
    -webkit-transition:all 0.3s ease-in-out; 
    -moz-transition:   all 0.3s ease-in-out;
    -ms-transition:    all 0.3s ease-in-out; 
    -o-transition:     all 0.3s ease-in-out;  
    transition:        all 0.3s ease-in-out;
}

section > nav > ul {
    position:absolute;
    left:50%;
    top:50%;
    width:134px;
    height:130px;
    margin:-65px 0 0 -67px;
}

section > nav > ul li a {
    font:italic bold 14px/22px Georgia, serif;
    color:#fff;
    text-transform:uppercase;
    text-decoration:none;
    text-shadow:rgba(40,94,124,0.05) 1px 1px 0px !important;
    -webkit-transition:all 0.2s ease-in-out; 
    -moz-transition:   all 0.2s ease-in-out;
    -ms-transition:    all 0.2s ease-in-out; 
    -o-transition:     all 0.2s ease-in-out;  
    transition:        all 0.2s ease-in-out;
}

section > nav > ul li a:hover,
section > nav > ul li a.active {
    color:rgb(35,31,32) !important;
    text-shadow:rgba(160,196,218,0.0) 0px -1px 0px;
}

section > nav > ul li a:active {
    -webkit-transform:translate(5px,0px);
    -moz-transform:   translate(5px,0px);
    -ms-transform:    translate(5px,0px);
    -o-transform:     translate(5px,0px);
    transform:        translate(5px,0px);
}